<h2>회원가입</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>
  <!--회원가입 단계에서 회원의 종류를 체크 할수 있게 할, 체크박스를 추가 하려함. 이 컨트롤은 어디있지?-->
   <div class="field">
      
      <%= f.radio_button :kind, 'owner'%> 
      <%= f.label :kind_owner, '소유자' %>
      <%= f.radio_button :kind, 'user'  %>
      <%= f.label :kind_user, '보는사람' %>
    </div>

  <div class="actions">
    <%= f.submit "회원가입하기" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
