<!DOCTYPE html>
<html>
  <head>
    <title>Ft4</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


<!--바디 시작 <인텍스 부분>-->
  <body>
    <!--상단 네비-->
   <nav>
     <li> <%= link_to '패밀리 타임',root_path %>
      </li>
      
         <% if user_signed_in? %>
            <li class="nav-item">
            <a class="nav-link js-scroll-trigger">로그인 유저 : <%= current_user.email %></a>
      </li>
            <% end %>
            
      <li class="nav-item">
            <% if user_signed_in? %>
            <%= link_to "로그아웃", destroy_user_session_path, method: :delete, data: { confirm: "Are you sure?" }, class: "nav-link js-scroll-trigger" %>
            <% else %>
            <%= link_to "로그인", new_user_session_path, class: "nav-link js-scroll-trigger" %>
            <% end %>

      <li> <%= link_to '사진 올리기',new_post_path %>
     </li>
     
      <li> <%= link_to '사진 보기',posts_path %>
     </li>
     
    </nav>
    
    
    <%= yield %>
  </body>
</html>
